---
import DeveloperCard from "../components/DeveloperCard.astro";

const developers = [
  {
    name: "Viviana Jacome Sanchez",
    role: "Desarrolladora Front-End - TmSoft sas",
    description:
      "Soy una desarrolladora web apasionada por crear experiencias digitales atractivas y funcionales. Con 2 años de experiencia en frontend y en constante aprendizaje como estudiante de ingeniería en sistemas, disfruto enfrentar nuevos retos y mejorar mis habilidades.",
    email: "vjacomesanchez@gmail.com",
    profile: "https://acortar.link/XQuRYp",
    techs: [
      { name: "HTML", color: "bg-orange-500" },
      { name: "CSS", color: "bg-blue-500" },
      { name: "JavaScript", color: "bg-yellow-500" },
      { name: "React", color: "bg-teal-500" },
      { name: "Vue", color: "bg-green-500" },
      { name: "Astro", color: "bg-red-500" },
    ],
  },
  {
    name: "Rafael David Donado Carrascal ",
    role: "Analista QA ",
    description: "Analista de Calidad de Software (QA) encargado de garantizar que el software cumpla con los estándares de calidad y requisitos funcionales antes de su lanzamiento. Teniendo como objetivo principal detectar errores, inconsistencias y posibles problemas que puedan afectar el rendimiento o la funcionalidad de un producto.",
    email: " rafadonado6@gmail.com",
    profile: "https://cdn-icons-png.flaticon.com/512/4157/4157277.png",
    techs: [
      { name: "HTML", color: "bg-orange-500" },
      { name: "CSS", color: "bg-blue-500" },
      { name: "Selenium", color: "bg-teal-500" },
    ],
  },
  {
    name: "Cristian Fabian Perez Perez",
    role: "Ingeniero Ambiental",
    description: "Ingeniero Ambiental y Analista de Datos Geoespaciales con experiencia en la integración de tecnologías avanzadas de programación y análisis de datos para resolver problemas ambientales complejos. Especializado en el uso de herramientas GIS (Sistemas de Información Geográfica) y lenguajes de programación como Python y R para el procesamiento y visualización de datos espaciales.",
    email: "cfperez9018@gmail.com",
    profile: "https://acortar.link/g23HHt",
    techs: [
      { name: "HTML", color: "bg-orange-500" },
      { name: "CSS", color: "bg-blue-500" },
      { name: "Pyhon", color: "bg-green-500" },
    ],
  },
  {
    name: "Laura Pernía",
    role: "Desarrolladora de software",
    description: "Desarrolladora de software enfocada en aplicaciones móviles, trabajo con diversas tecnologías y metodologías de desarrollo, incluyendo Android Studio y herramientas de control de versiones como bitbucket. Capacitada en análisis, resolución de problemas y mantenimiento de código de calidad.",
    email: "lcamilapernia@gmail.com ",
    profile: "https://media.tenor.com/M8NOboaCB2MAAAAe/peter-griffin-nails.png",
    techs: [
      { name: "HTML", color: "bg-orange-500" },
      { name: "CSS", color: "bg-blue-500" },
      { name: "Java", color: "bg-gray-500" },
      { name: "Kotlin", color: "bg-teal-500" },
    ],
  },
];
---

<section class="py-16 text-white flex flex-col items-center">
  <p class="text-2xl mb-8">Nuestros Desarrolladores</p>
  <div class="mx-4 my-10 lg:w-8/12">
    {
      developers.map((dev) => (
        <DeveloperCard
          name={dev.name}
          role={dev.role}
          description={dev.description}
          profile={dev.profile}
          email={dev.email}
          techs={dev.techs}
        />
      ))
    }
  </div>
</section>
